/*#region Standart Setings*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 20px;
	font-family: 'Monserrat', sans-serif;
	scroll-behavior: smooth;
}
body{
	background-color: #090909;
	color: #e5e5e5;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	color: #e5e5e5;
	text-align: center;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: #e5e5e5;
}
.brand h1 span {
	color: #e92222;
}
/*#endregion Standart Setings*/

/*#region Scrow bar */
::-webkit-scrollbar
{
	width: 10px;
}

::-webkit-scrollbar-track
{
    background-color: #161616ee;
}

::-webkit-scrollbar-thumb
{
	background: grey;
}

::-webkit-scrollbar-thumb:hover
{
	background: darkgrey;
}
/*#endregion Scrow bar */

/*#region Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
	background-color: #b4b4b4;
}
#header img {
	height: 90px;
	width: 90px;
	margin: 10px;
	transition: .3s ease-in-out;
}
#header img:hover {
	height: 100px;
	width: 100px;
	margin-top: 0px;
	margin-right: 0px;
	cursor: pointer;
}
#header .header {
	min-height: 6vh;
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1400px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: #b4b4b4;
	width: 100vw;
	height: 100vh;
	left: 150%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 1.5rem;
	font-weight: 300;
	letter-spacing: .2rem;
	text-decoration: none;
	color: #090909;
	text-transform: uppercase;
	padding: 20px;
	display: block;
	transition: .3s ease-in-out;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(55, 58, 59, 0.123);
	font-size: 8rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #e92222;
	letter-spacing: .4rem;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid #090909;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid #090909;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: #090909;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: #090909;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/*#endregion Header section */

/*#region MainView*/
#mview {
    margin: 50px;
}
#mview .container{
	margin-top: 100px;
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#mview h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
	font-size: 2rem;
	display: inline;
}
#mview h2 span{
    color: #e92222;
}
#mview .btnWithHover a{
	height: auto;
	width: auto;
	background-color: transparent;
	border: 3px solid #e92222;
	border-radius: 30px;
	font-size: 22px;
	margin-top: 10px;
	padding: 15px;
	display: block;
	text-align: center;
	transition: .3s ease-in-out;
}
#mview .btnWithHover:hover a{
	background-color: #e92222;
	color: #e5e5e5;
}
#mview .borderedColumn{
	border: 3px solid #e92222;
	border-radius: 50px;
	padding: 60px 40px;
	align-items: center;
	height: auto;
}
#mview .noborderedColumn{
	border: none;
	border-radius: 50px;
	padding: 60px 40px;
	align-items: center;
	height: auto;
}
#mview i {
	padding: 20px;
}
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
    text-align: center;
}
.column p{
	text-align: center;
	margin-top: 30px;
    padding: 15px 30px; 
}
.column img{
	height: 120px;
	width: 120px;
	border-radius: 60px;
	margin-top: 40px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width:1300px) {
    .column {
	  width: 80%;
	  margin-left: 10%;
    }
}
@media screen and (max-width:720px) {
    .column {
	  width: 100%;
	  padding: 15px 0px 15px 0px;
	  font-size: 16px;
	  margin-left: 0%;
	}
	.column {
		width: 100%;
		margin-left: 0%;
	}
	.column p{
		text-align: left;
		padding: 15px 0px 15px 0px; 
	}
	#mview .btnWithHover a{
		padding: 8px 10px;
	}
}
/*#endregion MainView*/

/*#region contactForm*/
#contact .container {
	margin-top: 60px;
	min-height: 75vh;
	width: 30%;
	border-radius: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #e92222;
}
.inputs {
	flex-direction: column;
	display: inline-block;
}
.box{
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.controlsInColumn{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	background-color: #e92222;
	border-radius: 30px;
	padding: 60px;
}
.controlsInColumn h2{
	font-weight: 500;
	margin-bottom: 20px;
	text-align: center;
}
.inputBox{
	border: none;
	outline: none;
	padding: 8px 25px;
	margin: 10px auto;
	border-radius: 30px;
	font-size: 18px;
}
.msgBox{
	border: none;
	outline: none;
	padding: 8px 25px 25px 25px;
	margin: 10px auto;
	border-radius: 30px;
	font-size: 18px;
}
.scalingBtn{
	border-radius: 30px;
	border: none;
	outline: none;
	padding: 6px 25px;
	margin-top: 20px;
	color: #090909;
	background-color: #fff;
	font-size: 20px;
	transition: .3s ease-in-out;
}
.scalingBtn:hover {
	border-radius: 30px;
	border: none;
	outline: none;
	padding: 6px 75px;
	cursor: pointer;
}
/*#endregion contactForm*/

/*#region about*/
#about .container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#about .about {
	background-color: #e92222c0;
}
#about .text-container {
	width: 86%;
	height: 100vh;
	background-color: #090909;
}
#about h1 {
	color: aliceblue;
	font-size: 4rem;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	margin-top: 200px;
}
#about h1 span{
    color: #e92222;
}
.text-container h2{
	text-align: left;
	float: left;
	font-size: 24px;
	font-weight: 500;
	margin: 80px;
	width: 50%; 
	flex-direction: column;
}
@media screen and (max-width:1100px) {
	#about .container {
		align-items: center;
		justify-content: center;
	}
}
/*#endregion about*/

/*#region pros*/
#pros{
	background-color: #e92222c0;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	padding: 100px;
}
.pbox{
	position: relative;
	width: 800px;
	padding: 20px;
	margin: 20px 0px; 
	box-sizing: border-box;
	background: #d3d3d3;
	color: #090909;
	border-radius: 10px;
	display: flex;
}
.pbox .imgBox{
	width: 200px;
	height: 200px;
	flex: 0 0 200px;
}
.pbox .imgBox img{
	max-width: 100%;
	max-height: 100%;
}
.pbox .pcontent{
	padding-left: 20px;
}
/*#endregion pros*/

/*#region gallery*/
#galery {
	background-color: #090909;
}
.galleryContainer{
	margin: 125px 20px 0px 20px;
}
#slider {
	height: 86vh;
	overflow: hidden;
}
#slider figure{
	position: relative;
	width: 1000%;
	margin: 0;
	left: 0;
	animation: 30s slider infinite;	
}
#slider figure img{
	width: 10%;
	float: left;
}
@keyframes slider {
	0%{
		left: 0;
	}
	10%{
		left: 0;
	}
	20%{
		left: -100%;
	}
	30%{
		left: -200%;
	}
	40%{
		left: -300%;
	}
	50%{
		left: -400%;
	}
	60%{
		left: -500%;
	}
	70%{
		left: -600%;
	}
	80%{
		left: -700%;
	}
	90%{
		left: -800%;
	}
	100%{
		left: -900%;
	}
}
/*#endregion gallery*/

/*#region offers*/
.wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	padding: 70px 0;
	max-width: 900px;
	margin: 60 auto;
}
.menu, .content{
	width: 100%;
}
select{
	width: 50%;
	padding: 15px;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
	border: none;
	border-radius: 8px;
	box-shadow: 0 5px 25px rgb(0, 0, 0, .8);
	appearance: none;
}
.content{
	margin: 30px 30px;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.content .data{
	padding: 25px;
	background-color: #b4b4b4;
	border: 2px solid #e92222;
	border-radius: 8px;
	color: #090909;
}
.data {
	display: none;
}
.obox{
	position: relative;
	width: auto;
	padding: 20px;
	margin: 20px 0px; 
	box-sizing: border-box;
	background: #d3d3d3;
	color: #090909;
	border-radius: 10px;
	display: flex;
}
.obox .imgBox{
	width: 100px;
	height: 100px;
	flex: 0 0 100px;
}
.obox .imgBox img{
	max-width: 100%;
	max-height: 100%;
}
.obox .ocontent{
	margin: 8px;
	padding-left: 10px 0 0;
	text-align: left;
}
/*#endregion offers*/

/*#region inbox*/
.btn{
	padding: 8px;
	outline: none;
	border: none;
	border-radius: 16px;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}
.open{
	background-color: #22e95e;
	color: #fff;
	margin-left: auto;
}
.close{
	background-color: #e92222;
	color: #fff;
}
.open:hover{
	background-color: #1ca545;
	cursor: pointer;
}
.close:hover{
	background-color: #b11e1e;
	cursor: pointer;
}
.mailRow{
	display: flex;
	background-color: #b4b4b4;
	color: #090909;
	padding: 10px;
	border-radius: 30px;
	margin: 20px;
}
.mailRow h3{
	float: left;
	padding-left: 50px;
}
.mails{
	width: 70%;
	margin-top: 250px;
	margin-left: 15%;
	margin-right: 15%;
}
@media only screen and (min-width: 768px) {
	.panel{
		width: 100%;
		left: 0%;
		min-height: 350px;
	}
}
.panel{
	position: absolute;
	display: none;
	margin-top: 100px;
	width: 72%;
	height: auto;
	min-height: 650px;
	border-radius: 60px;
	top: 100;
	left: 14%;
	background-color: rgb(119, 119, 119);
	flex-direction:column-reverse;
}
.panel p{
	margin: 20px;
	padding-left: 50px;
}
.panel h3{
	text-align: center;
	margin: 50px;
}
.panel button{
	position: relative;
	float: right;
	margin: 30px 50px;
}
/*#endregion inbox*/

/*#region iconBar*/
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.icon-bar a {
    display: block;
    text-align: center;
    padding: 14px;
    transition: all 0.3s ease;
    color: #e5e5e5;
	font-size: 20px;
    animation: EntryAnim .8s;
}
.icon-bar2 {
    position: fixed;
    top: 80%;
    -webkit-transform: translateX(40%);
    -ms-transform: translateX(40%);
	transform: center;
}
.icon-bar2 a {
    display: inline;
    text-align: center;
	padding: 16px;
    transition: all 0.3s ease;
    color: white;
	font-size: 20px;       
	z-index: 1001;
}
.facebook {
    color: #e5e5e5;
}
.facebook:hover {
    color: #090909;
    background: #2278e9;
    cursor: pointer;
}

.instagram {
    color: #e5e5e5;
}
.instagram:hover {
    color: #090909;
    background: #e9227f;
    cursor: pointer;
}

.phone {
    color: #e5e5e5;
}
.phone:hover {
    color: #090909;
    background: #22e95e;
    cursor: pointer;
}

.envelope {
	color: #e5e5e5;
}
.envelope:hover {
    color: #090909;
    background: #e92222;
    cursor: pointer;
}
.iconsCards {
	display: flex;
	margin-top: 5px;
	flex-direction: column;
	grid-template-columns: 1fr;
	justify-content: center;
	align-items: center;
}
.iconsCards a {
	font-weight: 700;
	width: fit-content;
	align-items: center;
	font-size: 90%;
	padding-right: 15px;
	border-radius: 10px;
	transition: .3s ease-in-out;
}
@media screen and (max-width:1000px) {
	.icon-bar a {
		display: none;
	}
	.icon-bar2 a {
		display: none;
	}
}
/*#endregion iconBar*/

/*#region Animations */
@keyframes status {
	0% {
		opacity: 1;
		pointer-events: all;
	}
	90% {
		opacity: 1;
		pointer-events: all;
	}
	100% {
		opacity: 0;
		pointer-events: none;
	}
}
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: #e5e5e5;
	}
}
@keyframes text_reveal_name {
	100% {
		color: #f94c05;
		font-weight: 500;
	}
}
/*#endregion Animations */

/*#region Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.btnWithHover {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}
	#hero h1 {
		font-size: 7rem;
	}
	.form-box-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		
	  }
	  
	  .form-input {
		grid-row: 1;
		grid-column: 1 / 3;
	  }
	
	  .form-info {
		grid-column: 3 / 4;
	  }
	
	  .form-info ul {
		margin-top: 4rem;
	  }
	
	  .form-info ul li {
		margin-top: 2rem;
	  }
}
/*#endregion Media Query For Tablet */

/*#region Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.2rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
}
/*#endregion  Media Query For Desktop */